<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container" style="background-color: rgb(108, 95, 105);">
    <div>
    <h1 style="text-align: center; color: white;  margin-top: 35px;">Bienvenidos a mi lista con Thymeleaf</h1>
   </div>
    <table class="table table-warning" style=" margin-top: 35px;">
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nombreUsuario}"></td>
            <td th:text="${usuario.nombreCompleto}"></td>
        </tr>
    </table>


</body>
</html>
